HEAD
# Ignore backend app logs
backend/app.log
.DS_Store
backend/app/__pycache__/
backend/venv/
frontend/node_modules/
=======
node_modules

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
.svelte-kit/
/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Python-related
*.pyc
__pycache__/
*.log
.vscode/
.venv/

# Node.js-related
node_modules/
*.env
.npmrc
.svelte-kit/

# Miscellaneous
*.DS_Store

backend/app.log
setup-backend
node_modules/
frontend/node_modules/
dist/
frontend/.svelte-kit/
frontend/node_modules/
*.log