/* Global Resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #0f172a; /* Dark background */
  color: #e2e8f0; /* Light text */
  line-height: 1.6;
  scroll-behavior: smooth;
}

section {
  padding: 2rem;
  background: none;
  border: none;
}

#publications,
#team,
#contact {
  background: #f5f5f5; /* Light grey background */
  color: #333; /* Dark text */
  margin: 2rem 0;
  border-radius: 8px;
  padding: 1rem 2rem;
}

h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}
